/* Basic CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Style the navigation bar */
.navbar {
	background-color: #333;
}

.navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

/* To make the navbar horizontal */
.navbar ul li {
	display: inline-block;
	/* Align items horizontally */
}

.navbar ul li a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: white;
	font-size: 16px;
}

/* Optional: Adding hover effect */
.navbar ul li a:hover {
	background-color: #575757;
}

html {
	width: 100%;
	border: 0px;
}

/* Base styles for mobile */
body {
	font-size: 16px;
	padding: 10px;
}

/* Styles for tablets and larger screens */
@media (min-width: 768px) {
	body {
		font-size: 18px;
		padding: 20px;
	}
}

@media (min-width: 1024px) {
	body {
		font-size: 20px;
		padding: 30px;
	}
}